body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}



/* EXERCISE STYLES */

.left,
.right {
	width: 33.33%;
	height: 33.33%;
	margin: 15px;
}

.left {
	float: left;
	margin-left: 0;
}

.right {
	float: right;
	margin-right: 0;
}