/* NAV STYLES */

.nav {
	position: fixed;
	padding: 5px 60px 0 60px;
	background: gray;
	height: 60px;
	width: 100%;
}

.logo {
	border-radius: 100%;
	border: 1px solid black;
	height: 45px;
	width: 45px;
	margin-top: 5px;
}

.nav ul,
.nav ul li {
	display: inline-block;
}

.nav ul {
	vertical-align: top;
}

.nav ul li {
	list-style: none;
}

.nav ul li::after {
	content: " |";
}



/* MAIN and GENERAL STYLES*/

body {
	background: url(../images/outerspace_landscape.jpeg) no-repeat center center fixed;
	background-size: cover;
}

main {
	padding-top: 50px;	
	height: 750px;
	width: 100%;
}



/* GREEN BOX*/

.green-box {
	border: 10px dotted green;
    height: 300px;
    width: 600px;
    margin: 150px auto;
    position: relative;
}



/* DOG and CAT IMAGES*/

.cat,
.dog {
	height:200px;
	width: 200px;
	position: absolute;
}

.cat {
	top: -75px;
	left: -75px;
}

.dog {
	bottom: -120px;
	right: -80px;
}